<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017850040672-kc8tv2lj788e9uvjnt4ap4tdr43lspbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017850040672-kc8tv2lj788e9uvjnt4ap4tdr43lspbl</string>
	<key>API_KEY</key>
	<string>AIzaSyCynuCnvggYYyu1CLUlVUUDUsrVzLimdcg</string>
	<key>GCM_SENDER_ID</key>
	<string>1017850040672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsInMyFridge</string>
	<key>PROJECT_ID</key>
	<string>whats-in-my-fridge-e7c24</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-in-my-fridge-e7c24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017850040672:ios:0669d246f204b1a2e7ce05</string>
	<key>DATABASE_URL</key>
	<string>https://whats-in-my-fridge-e7c24-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>